<div class='mt-4 container'>
    <h3>Thêm Vé</h3>
    <form method='POST' action='ds-ve'>
        {{! action để dẫn đến store bên courseController  }}
        <div class='form-group mt-2'>
            <label for='MaPhieu'>Mã Phiếu</label>
            <input type='text' class='form-control' id='MaPhieu' name='MaPhieu' />
        </div>
        <div class='form-group mt-2'>
            <label for='MaTK'>Mã Tài Khoản</label>
            <input
                type='text'
                class='form-control'
                id='MaTK'
                name='MaTK'
            />
        </div>
        <div class='form-group mt-2'>
            <label for='NgayGio'>Ngày Giờ</label>
            <input
                type='text'
                class='form-control'
                id='NgayGio'
                name='NgayGio'
            />
        </div>
        <div class='form-group mt-2'>
            <label for='TrangThai'>Trạng Thái</label>
            <input type='text' class='form-control' id='TrangThai' name='TrangThai' />
        </div>
         <div class='form-group mt-2'>
            <label for='TTThanhToan'>Trạng Thái Thanh Toán</label>
            <input type='text' class='form-control' id='TTThanhToan' name='TTThanhToan' />
        </div>
         <div class='form-group mt-2'>
            <label for='MaChuyen'>Mã Chuyến</label>
            <input type='text' class='form-control' id='MaChuyen' name='MaChuyen' />
        </div>

        <button type='submit' class='btn btn-primary mt-4'>Thêm Vé</button>
    </form>
</div>